# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

\#auto_saved_files#

*.lck

*.kicad_prl

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

Hardware/simpleSBC-backups/
*.kicad_prl
Hardware/cam/

# Yocto
*.pyc
*.pyo
/*.patch
pyshtables.py
pstage/
scripts/oe-git-proxy-socks
sources/
!meta-skeleton
!meta-hob
hob-image-*.bb
*.swp
*.orig
*.rej
*~

# Ignore everything in build folder...
yocto/build-mp1/**
# ...except keep the conf folder and its contents
!yocto/build-mp1/conf/
!yocto/build-mp1/conf/**
# Also optionally keep hidden files in conf (like .template or .sample files)
!yocto/build-mp1/conf/.*

!yocto/meta-yocto
!yocto/meta-yocto-bsp
yocto/bitbake/doc/manual/html/
yocto/bitbake/doc/manual/pdf/
yocto/bitbake/doc/manual/txt/
yocto/bitbake/doc/manual/xhtml/
pull-*/